body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


#root{
  min-height: 100vh;
}
.main-container{
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  text-align: center;
  color: black;
}
